nav{
    max-width: 85%;
    display: flex;
    justify-content: center;
}

h3{
    font-family: Josefin Sans;
    font-size: 30px;
    display: flex;
    justify-content: left;
}

.navBarCentro{
    background-color: rgb(203, 32, 255);
    display: flex;
    border-radius: 17%;
    height: 10%;
    width: 90%;
}

.Classificacao{
    display: flex;
    width: 15%;
}

.Equipes{
    display: flex;
    width: 15%;
}

.Eventos{
    display: flex;
    width: 15%;
}

.Perfil{
    display: flex;
    width: 15%;
}